body {
    background: url("images/backgrounds/Background_1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table.tb-fixed {
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    height: 64px;
    width: 64px;
    border-collapse: collapse;
    border: 2px solid rgb(68, 67, 67);
}

table.tb-fixed td {
    overflow: hidden;
}

table.tb-fixed td.correct {
    transition: .5s ease;
    background-color: rgb(83, 146, 94);
}

table.tb-fixed td.position {
    transition: .5s ease;
    background-color: rgb(114, 114, 71);
}

table.tb-fixed td.wrong {
    transition: .5s ease;
    background-color: rgb(192, 66, 34);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
}

#snackbar.show-danger {
    visibility: visible;
    background-color: rgb(216, 47, 47);
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.show-success {
    visibility: visible;
    background-color: rgb(54, 177, 70);
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}